/*-------------------------------------------------------*/
/*-- PIE DE PAGINA                                     --*/
.pie-pagina {
    padding                     : 10px 15px;
    background-color            : #0e4209b4;
    border-top                  : 1px solid #ddd;
    border-bottom-right-radius  : 3px;
    border-bottom-left-radius   : 3px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
}
.pie-texto {
    text-align                  : center;
    color                       : rgb(255, 255, 255);
    font-family                 : Cambria, Arial, Helvetica, sans-serif;
    font-size                   : 20px;
/*  font-style                  : italic;       */
/*  font-weight                 : bold;         */
}


/* .pie-pagina {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 } */